In [1]:
myAge = 32
print(myAge)

32

In [2]:
myAge = 33
print(myAge)

33

In [3]:
print(myAge/3)

11.0

In [4]:
myAge = myAge + 1
print(myAge)

34

In [5]:
restaurantBill = 36.17
serviceCharge = 0.125
tip = restaurantBill * serviceCharge 
print(tip)

4.52125

In [6]:
type(33)

int

In [7]:
type(33.6)

float

In [8]:
type('Philipp')

str

In [9]:
 type(myAge)

int

In [10]:
type(restaurantBill)

float

In [11]:
myName = 'Philipp'
type(myName)

str

In [12]:
firstPrime = 1
secondPrime = 2
thirdPrime = 3

primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

list

In [13]:
coolPeople = ['Jay Z', 'Ghandi', 'me']
primeAndPeople = ['King Arthur', 17, 'Jennifer']
type(primeAndPeople)

list

In [14]:
primeNumbers[2]

61

In [15]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [16]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [17]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [18]:
type(data)

pandas.core.frame.DataFrame

In [19]:
onlyMathScores = data['Avg_Math_Test_Score']

In [20]:
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [21]:
data['Test_Subject'] = 'Jennifer Lopez'

In [22]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [23]:
data['High_Score'] = 100

In [24]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [25]:
#Challenge: Overwrite values in rows for High_Score to equal average score + 100

data['High_Score'] = data['Avg_Math_Test_Score'] + 100

In [26]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [27]:
#Challenge: Square the values stored inside High_Score 

data['High_Score'] = data['High_Score'] * data['High_Score']

#Alternative solution: data['High_Score'] = data['High_Score'] ** 2

In [28]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [29]:
type(onlyMathScores)

pandas.core.series.Series

In [30]:
# a series can only have one column
# a DataFrame is a collection of series

In [31]:
#Challenge: Create a list called columnList. Put 'LSD_ppm' and 'Avg_Math_Test_Score' Inside.
#columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']] 
#two square brackets may look scary, but it's just a list
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [32]:
type(cleanData)

pandas.core.frame.DataFrame

In [33]:
y = data[['Avg_Math_Test_Score']]

In [34]:
type(y)

pandas.core.frame.DataFrame

In [35]:
x = data['Avg_Math_Test_Score']

In [36]:
type(x)

pandas.core.series.Series

In [37]:
#Challenge: 1)Create a variable X 
#Set X equal to the values of LSD_ppm
#Make sure X is a dataframe
#2) print the value of X
#3) show the type of X

X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [38]:
print(data)
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009
   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [39]:
#Challenge: delete High_Score column from data

print(data)
del(data['High_Score'])
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009
   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [40]:
import life as hitchhikersGuide

In [41]:
type(hitchhikersGuide)

module

In [42]:
hitchhikersGuide.theAnswer

44

In [43]:
#Challenge 1) import math module 2) print value of pi 3) print value of e
import math

print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [44]:
from life import theAnswer

In [45]:
myFavouriteNumber = theAnswer
print(myFavouriteNumber)

44

In [46]:
theAnswer = theAnswer + 1

In [47]:
print(theAnswer)

45

In [48]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [49]:
def get_milk():
        print('Open door')
        print('Walk to the store')
        print('Buy milk on the ground floor')
        print('return with milk galore')

In [50]:
get_milk()

Open door
Walk to the store
Buy milk on the ground floor
return with milk galore

In [51]:
def fill_the_fridge(amount):
        print('Open door')
        print('Walk to the store')
        print('Buy ' + amount + ' cartons on the ground floor')
        print('return with milk galore')

In [52]:
fill_the_fridge('five')

Open door
Walk to the store
Buy five cartons on the ground floor
return with milk galore

In [53]:
fill_the_fridge('one thousand')

Open door
Walk to the store
Buy one thousand cartons on the ground floor
return with milk galore

In [54]:
def milk_mission(amount, destination):
        print('Open door')
        print('Walk to the ' + destination)
        print('Buy ' + amount + ' cartons on the ground floor')
        print('return with milk galore')

In [55]:
milk_mission('twenty', 'department store')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
return with milk galore

In [56]:
milk_mission('department store', 'twenty')

Open door
Walk to the twenty
Buy department store cartons on the ground floor
return with milk galore

In [57]:
milk_mission(destination = 'department store', amount = 'twenty')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
return with milk galore

In [58]:
milk_mission('twenty', destination = 'department store')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
return with milk galore

In [59]:
def times(a, b):
    return a*b

test = times(3.14, 5.09)
print(test)

15.9826

In [60]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [61]:
#[end] 24. [Python] - Functions - Part 3: Results & Return Values 14min

In [62]:
#25. [Python] - Objects - Understanding Attributes and Methods

In [63]:
hitchhikersGuide.theAnswer

44

In [64]:
import life

In [65]:
life.theAnswer

44

In [66]:
life.quote_marvin()

I've calculated your chance of survival, but I don't think you'll like it.

In [67]:
myAge = 'Two Hundred'
type(myAge)

str

In [68]:
myAge = 20.53
type(myAge)

float

In [69]:
life.square_root(63.14)

7.946068210127573

In [70]:
life.sq_rt(63.14)

7.946068210127573